%small-bold
  font:
    size: 12pt
    weight: 700
  text-transform: uppercase	  


%skill-color
  background: $accent-red 

%skill-color-op
  background: $accent-red 
  opacity: 0.3



%sc-logo  
  +size(50px)  
  float: left
  margin: 10px 0 0 30px
  path
    fill: #fff