<section class="projects-section projects-wrapper">
	<h3 class="projects-header">Projects</h3>

	<div class="projects-slider">

		<div class="thumb-container">

			<a href="" class="thumb thumb-moobli">
				<div class="thumb-overlay">

				<strong>Typo International</strong>
				<div class="zoom-icon"></div>

				</div>
			</a>

			<a href="" class="thumb thumb-ribe">
				<div class="thumb-overlay">

				<strong>Crisp icons</strong>
				<div class="zoom-icon"></div>

				</div>
			</a>

			<a href="" class="thumb thumb-jupiter">
				<div class="thumb-overlay">

				<strong>Typo International</strong>
				<div class="zoom-icon"></div>

				</div>
			</a>

			<a href="" class="thumb thumb-zeigende">
				<div class="thumb-overlay">

				<strong>Typo International</strong>
				<div class="zoom-icon"></div>

				</div>
			</a>

			<a href="" class="thumb thumb-nauka">
				<div class="thumb-overlay">

				<strong>Typo International</strong>
				<div class="zoom-icon"></div>

				</div>
			</a>


			<a href="" class="thumb thumb-liverpool">
				<div class="thumb-overlay">

				<strong>Typo International</strong>
				<div class="zoom-icon"></div>

				</div>
			</a>

			<a href="" class="thumb thumb-album">
				<div class="thumb-overlay">

				<strong>Typo International</strong>
				<div class="zoom-icon"></div>

				</div>
			</a>

			<a href="" class="thumb thumb-snowcat">
				<div class="thumb-overlay">

				<strong>Typo International</strong>
				<div class="zoom-icon"></div>

				</div>
			</a>

		</div>

		<div class="projects-container">
			<h2>Projects Large</h2>
				<div style="width: 500px; height: 500px; background: #ccc"></div>
				<p>Just some random text a non sequitur topic</p>
				<div style="width: 500px; height: 500px; background: #ccc"></div>
				<p>Just some random text a non sequitur topic</p>
				<div style="width: 500px; height: 500px; background: #ccc"></div>
				<p>Just some random text a non sequitur topic</p>
		</div>
	</div>
</section>