<section class="projects-section projects-wrapper">
	<h3 class="projects-header">Projects</h3>

	<div class="projects-slider">

		<div class="thumb-wrap">
			<div class="thumb-container">
				<a href="" class="thumb thumb-moobli">
					<div class="thumb-overlay">

					<strong>Print Design</strong>
					<div class="zoom-icon"></div>

					</div>
				</a>

				<a href="" class="thumb thumb-ribe">
					<div class="thumb-overlay">

					<strong>Website Redesign</strong>
					<div class="zoom-icon"></div>

					</div>
				</a>

				<a href="" class="thumb thumb-jupiter">
					<div class="thumb-overlay">

					<strong>TV Poster</strong>
					<div class="zoom-icon"></div>

					</div>
				</a>

				<a href="" class="thumb thumb-zeigende">
					<div class="thumb-overlay">

					<strong>Magazine Cover</strong>
					<div class="zoom-icon"></div>

					</div>
				</a>

				<a href="" class="thumb thumb-nauka">
					<div class="thumb-overlay">

					<strong>Magazine Redesign</strong>
					<div class="zoom-icon"></div>

					</div>
				</a>


				<a href="" class="thumb thumb-liverpool">
					<div class="thumb-overlay">

					<strong>Restaurant Menu</strong>
					<div class="zoom-icon"></div>

					</div>
				</a>

				<a href="" class="thumb thumb-album">
					<div class="thumb-overlay">

					<strong>Album Cover</strong>
					<div class="zoom-icon"></div>

					</div>
				</a>

				<a href="" class="thumb thumb-snowcat">
					<div class="thumb-overlay">

					<strong>Business Card</strong>
					<div class="zoom-icon"></div>

					</div>
				</a></div>
		</div>

		<div class="projects-wrap">
			<div class="projects-container">
					<h4>Projects Large</h4>
						<div style="width: 750px; height: 650px; background: #ccc"></div>
						<p>Just some random text a non sequitur topic</p>
						<div style="width: 750px; height: 650px; background: #ccc"></div>
						<p>Just some random text a non sequitur topic</p>
						<div style="width: 750px; height: 650px; background: #ccc"></div>
						<p>Just some random text a non sequitur topic</p>
						<div style="width: 750px; height: 650px; background: #ccc"></div>
						<p>Just some random text a non sequitur topic</p>
			</div>
		</div>
	</div>
</section>