footer
  height: 150px
  bottom: 0
  background: url(../img/108H.jpg) center center
  background-repeat: no-repeat, no-repeat
  background-size: cover
  position: relative
  width: 100%
  +clearfix


  .lockup
    position: relative

    .logo
      @extend %sc-logo
      padding: 30px 30px 0 30px
      display: block
      margin: 0
      opacity: .2

      @media screen and (max-width: 690px)
        float: none
        margin: 0 auto
        padding: 20px
        display: block
        text-align: center
        clear: both



    .content-wrap
      float: right


      @media screen and (max-width: 690px)
        float: none
        justify-content: center
        margin: 0 auto
        text-align: center
        display: block


      .copyright
        text-transform: uppercase
        font-size: 12px
        color: rgba(0,0,0,0.5)

      a
        @extend %small-bold
        color: rgba(0,0,0,0.5)
        display: inline-block
        padding: 40px 30px 0 30px

        @media screen and (max-width: 690px)
          display: inline-block
          padding: 0 10px
          margin: 0


        &:hover
          color: rgba(0,0,0,0.7)