
header
  height: 600px
  background: url(../img/109H.jpg) center center
  background-size: cover   // to stretch the bg to cover the screen
  

  .logo
    @extend %sc-logo

  nav
    float: right
    margin: 30px 30px 0 0 

    a
      display: inline-block
      margin-left: 20px

      color: rgba(0,0,0,0.4)
      @extend %small-bold   // placeholders.sass has the full code

      &:hover
        color: #fgfgfg


  
      
  h1
    text-align: center
    font:
      size: 76px
      weight: 700
    color: white

    margin: 0 40px 40px 40px
    clear: both               
    //  never forget to use clear:both!
    padding-top: 190px

    @media screen and (max-width: 600px)
      margin: 0 20px 40px 20px
      font:
        size: 55px
        weight: 700

    @media screen and (max-width: 490px)
      margin: 0 20px 40px 20px
      font:
        size: 40px
        weight: 700    


  .kicker
    text-align: center
    color: white
    font:
      size: 14pt
      weight: 300
    text-transform: uppercase
    letter-spacing: 0.09em


  



    
