.projects-section
  overflow: hidden
  padding-bottom: 250px



  .projects-header
    margin-top: 0px
    @extend %h1-bold

  .projects-slider
    width: 200%
    position: relative
    left: 0%
    +transition

  .thumb-wrap, .projects-wrap
    width: 50% // of the width of its parent, and hence- 100% of the width of the page
    float: left


    .thumb
      display: block
      width: 25%  // it's the 30% of the .thumb-container max-width
      float: left
      position: relative
      padding-top: 15%
      overflow: hidden
      cursor: pointer

      @media screen and (max-width: 960px)
        width: 50%
        padding-top: 25%


      @media screen and (max-width: 690px)
        width: 100%
        padding-top: 50%


      .thumb-overlay
        +position(absolute, 100% 0px null 0px) // this will stretch this element to all sides
        height: 100% // this will make it the same height as its parent
        background: fade-out($accent-red, .2)
        text-align: center
        justify-content: center
        +transition(600ms)
        +display(flex)
        +align-items(center)

        strong
          display: block
          position: relative
          @extend %label-semibold
          color: #fff
          line-height: 1.5em


      &:hover
        z-index: 2

        .thumb-overlay
          +position(absolute, 0% 0px null 0px) // When you hover over the 'thumb' the overlay will get this position. This will stretch it  to all sides
          height: 100%


      /*====== Project Thumbs ======*/

    .thumb-moobli
      background:
        image: url(../img/projects/thumbs/moobli2.jpg)
        repeat: no-repeat
        size: cover
        position: center center

    .thumb-ribe
      background:
        image: url(../img/projects/thumbs/ribe2.jpg)
        repeat: no-repeat
        size: cover
        position: center center

    .thumb-jupiter
      background:
        image: url(../img/projects/thumbs/jupiter2.jpg)
        repeat: no-repeat
        size: cover
        position: center center

    .thumb-zeigende
      background:
        image: url(../img/projects/thumbs/zeigende2.jpg)
        repeat: no-repeat
        size: cover
        position: center center

    .thumb-nauka
      background:
        image: url(../img/projects/thumbs/nauka2.jpg)
        repeat: no-repeat
        size: cover
        position: center center

    .thumb-liverpool
      background:
        image: url(../img/projects/thumbs/liverpool2.jpg)
        repeat: no-repeat
        size: cover
        position: center center


    .thumb-album
      background:
        image: url(../img/projects/thumbs/album2.jpg)
        repeat: no-repeat
        size: cover
        position: center center

    .thumb-snowcat
      background:
        image: url(../img/projects/thumbs/snowcat2.jpg)
        repeat: no-repeat
        size: cover
        position: center center


      .h2
        color: blue
        font:
          weight: 700
          size: 60px
        display: block


  .projects-container
    max-width: 750px
    margin: 0px auto


    h4
      @extend %label-semibold

    img
      max-width: 100%
      margin-bottom: 20px

    .return
      +size(50px)
      +position(null null 8px null)
      cursor: pointer

      opacity: .5
      float: right

      path:
        fill: rgba(0,0,0,.1)

      &:hover
        opacity: 1











